
@import url('https://fonts.googleapis.com/css?family=Libre+Franklin:400,500,700&display=swap');

/* override bootstrap */
.navbar-dark .navbar-brand {
   color: #000;
}

.navbar-dark .navbar-nav .nav-link {
   color: #000;
}

.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
   color: #000;
}

.btn-outline-light {
   color: #000;
   border-color: #999;
}

.btn-outline-light:not(:disabled):not(.disabled).active,
.btn-outline-light:not(:disabled):not(.disabled):active,
.show>.btn-outline-light.dropdown-toggle,
.btn-outline-light:hover {
   border-color: #999;
   color: #000;
   background-color: #E8F5F8;
}

a {
   color: #0070e9;
}

/* theme */
.lighter {
   color: #E8F5F8;
}

.bg-white{
   background: #fff;
}

.bg-darker {
   background: #0d3760;
}

.bg-darkest {
   background: #011E3E;
}

/* by the numbers */
.number-heading {
   color: #;
   margin-bottom: 1em;
   padding-bottom: 0.5em;
   /*border-bottom: 1px solid #999;*/
}

.by-the-number {
   font-size: 2.5em;
   color: #;
   margin-bottom: 0;
}

/* main */
body {
   /*padding-top: 3.5em;*/
}
      .nav-item{
         padding: 0px 5px;
      }
      .background-video { 
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        z-index: -100;
        -ms-transform: translateX(-50%) translateY(-50%);
        -moz-transform: translateX(-50%) translateY(-50%);
        -webkit-transform: translateX(-50%) translateY(-50%);
        transform: translateX(-50%) translateY(-50%);
     }
     body{
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        overflow: ;
        z-index: -100;
        /*padding-top: 2rem;*/
        width: 100%; 
        height: 100%;
        font-family: 'Libre Franklin', sans-serif;
     }

img.fill {
   min-width: 100%;
}

table.table-striped a {
   color: blue;
}

/* footer */
address {
   font-style: normal;
}

footer {
   margin-top: 3em;
}

.footer-top {
   padding: 2rem 0 0;
}

footer p {
   line-height: 1.125rem;
}

footer a,
footer a:hover {
   /*color: #6ec5ff;*/
   text-decoration: none;
}

.footer-bottom {
   padding-top: 1rem;
}

/* site search */
.loading {
   width: 100px;
   margin: auto;
}

.result-title a {
   font-size: 1.2em;
}

.result-preview,
.result-author,
.resultCount {
   color: #6c757d;
}

.result-query {
   font-weight: bold;
}

.pagination {
   text-align: center;
   margin: 16px 8px 16px 8px;
}

.pagination a {
   color: black;
   padding: 8px 16px;
   text-decoration: none;
}

.pagination a.active {
   background-color: #0d3760;
   color: white;
}

.pagination a:hover:not(.active) {
   background-color: #ddd;
}

/* sharing icons */
ul.share-buttons {
   list-style: none;
   padding: 0;
}

ul.share-buttons li {
   display: inline;
}

ul.share-buttons .sr-only {
   position: absolute;
   clip: rect(1px 1px 1px 1px);
   clip: rect(1px, 1px, 1px, 1px);
   padding: 0;
   border: 0;
   height: 1px;
   width: 1px;
   overflow: hidden;
}

ul.share-buttons img {
   width: 32px;
}

/* data search */
.dataset-title a {
   font-size: 1.2em;
   text-decoration: none;
}

.dataset-title a:hover {
   text-decoration: underline;
}

.dataset-author {
   color: #6c757d;
}