<nav class="navbar navbar-expand-lg navbar-light fixed-top bg-white py-1 px-2">
         <div class="container">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
               aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
               <span class="navbar-toggler-icon"></span>
            </button>
            <a class="navbar-brand" title="BLE Home Page" href="/"><img
            src="../img/logo-round-rgb.png" style="max-height: 40px;" alt="BLE home
            page link"></a>
            <div class="collapse navbar-collapse" id="navbarCollapse">
               <ul class="navbar-nav mr-auto">
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="aboutDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">About</a>
                     <div class="dropdown-menu" aria-labelledby="aboutDropdownMenuLink">
                        <a class="dropdown-item" href="/about">Project Overview</a>
                        <a class="dropdown-item" href="/people">Team</a>
                        <a class="dropdown-item" href="/media">Media Coverage</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/contact">Contact Us</a>
                     </div>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/research">Research</a></li>
                  <li class="nav-item dropdown">
                     <a class="nav-link dropdown-toggle" href="#" id="dataDropdownMenuLink" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Data</a>
                     <div class="dropdown-menu" aria-labelledby="dataDropdownMenuLink">
                        <a class="dropdown-item" href="/catalog">Data Catalog</a>
                        <a class="dropdown-item" href="/ims">Information Management</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/submitdata">Submit Data</a>
                     </div>
                  </li>
                  <li class="nav-item"><a class="nav-link" href="/bibliography">Publications</a></li>
                  <li class="nav-item"><a class="nav-link" href="/outreach">Outreach</a></li>
               </ul>
               <form>
                  <div class="input-group">
                     <input id="siteSearchInput" onkeypress="siteSearchKeypress(event)" class="form-control"
                        type="search" placeholder="Search this site..." aria-label="Search">
                     <button onclick="return launchSiteSearch()" class="btn btn-outline-light" type="submit"
                        title="Submit Search" aria-label="Submit Search"><i class="fas fa-search"></i></button>
                  </div>
               </form>
            </div>
         </div>
      </nav>